/* COMMON */
ul {
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

/* Separatore con la stella */
.line-star .line {
    content:"";
    width: 90px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
}

.line-white {
    background-color: white;
}

.line-black {
    background-color: black;
}

.line-star .fa-solid {
    padding: 0 10px;
}




/* ------HEADER------ */
header {
    height: 100px;
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    line-height: 100px;
}

.logo {
    font-size: 20px;
}

.burger {
    text-align: right;
    font-size: 35px;
}

.menu {
    text-align: right;
}

.menu ul li {
    display: inline-block;
    padding: 0 20px;
}


@media screen and (min-width:768px) {
    .logo {
        font-size: 30px;
    }
}
/* -----end HEADER------ */



/* ------JUMBOTRON------ */
.jumbotron {
    padding-top: 20px;
    color: white;
    text-align: center;
    background-color: #1abc9c;
}

.jumbotron img {
    height: 280px;
}

.jumbotron h1 {
    padding: 15px 0;
    font-weight: bold;
    font-size: 40px;
}

.jumbotron h5 {
    padding: 35px 0;
}
/* ----end JUMBOTRON---- */



/* -------MAIN ----------*/
/* Main Common */
main h3 {
    padding-top: 40px;
}

.portfolio,
.about,
.contact h3,
.contact .line-star {
    text-align: center;
}


/* Portfolio */
.portfolio img {
    border-radius: 10px;
    margin: 15px 0;
}


/* About */
.ms_container {
    width: 60%;
    max-width: 1000px;
    margin: auto;
}

.about {
    background-color: #1abc9c;
    color: white;
}

.about p {
    font-weight: 500;
    padding-top: 20px;
    text-align: justify;
}

.about .btn_ms {
    color: white;
    margin: 30px 0;
    border: 1px solid white;
}


/* Contact Me */
input[type="text"],
input[type="email"],
input[type="number"] {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 20px;
    padding-bottom: 20px;
}

.contact .container-form button {
    margin-bottom: 30px;
    text-align: left;
}

.btn_send {
    background-color: #1abc9c;
    color: white;
}




/* ------FOOTER------ */
footer {
    color: white;
    background-color: #3a546d;
    text-align: center;
}

footer h6 {
    padding-top: 20px;
}

.around-the-web .fa-brands {
    padding: 10px 10px;
    font-size: 25px;
}

.about-freelancer p {
    padding-bottom: 30px;
}

.about-freelancer p span {
    color: #1abc9c;
}


.copyright {
    font-size: 14px;
    background-color: #2c3e50;
    padding-top: 20px;
    padding-bottom: 30px;
}





